@import '../../../styles/vars.scss';

.ui.card {
    & > .content {
        & > .header:not(.ui) {
            &.small-header {
                font-size:  13px;
                display: flex;
                flex-wrap: wrap;
                
            }
        }
    }
}
.small-header {
    .price{
        font-size: 14px !important;
    }
    .title {
        margin-right: 5px !important ;
    } 
} 
.ui.tiny {
    &.button {
        &.active{
            background-color: $active;
            color: $white;
        }
    }
}

