@import '../../../styles/vars.scss';
html {
    height: 100% !important;
}
footer {
    width: 100%;
    background-color: #1b1c1d;
    color: $white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    height: 90px;
    box-shadow: inset 0 0 0 0 $grey,0 2px 1px 0 rgba(47,61,73,.05);
    .footer-inner {
        padding: 0 1rem;
    }
}
