
@import '../../../styles/vars.scss';

.card-button {
    box-shadow: 0 0 0 1px #21ba45 inset!important;
    color: #21ba45!important;
}
.card-button {
    .disabled {
        pointer-events: none;
    }
}
.ui {
    &.cards {
        & > .card {
            &.success {
                border: 2px solid $green;
            }
        }
        .card.error {
            border: 2px solid $red;
        }
        .description {
            max-height: 300px;
            overflow-y: auto;
        }
    }
}
.card.error {
    .card-button {
        box-shadow: 0 0 0 1px $red inset!important;
        color: $red !important;
    }
    .expired {
        box-shadow: 0 0 0 1px grey inset!important;
        color: grey!important;
    }
}