@import '../../../styles/vars.scss';

.shop-view {
    overflow-x: auto;
    max-height: 700px;
}
.game-container {
    min-height: 100vh;
}
.sticky-header {
    position: fixed !important;
    z-index: 1;
    background-color: white;
}
.main-board {
    .column {
        padding-top: 60px;
        min-height: 100vh;
        max-height: 500px;
    }
}
.ui {
    &.grid{
        .row {
            padding-top: 30px !important;
            padding-bottom: 10px !important;
        }
    }
    &.cards {
        justify-content: center !important;
    }
}
html, body{
    height:100%;
}
.tasks-list, .pane-tab {
    margin-top: 30px !important;
}
#outer{
    min-height:100%;
}
* html #outer{height:100%;} 

@media only screen and (max-width: 1024px) {
    .tasks-list {
        overflow-x: auto;
    }
 }
 @media only screen and (max-width: 765px) {
    .ui.card:first-child {
        margin-top: 100px !important;
    }
}
