@import '../../../styles/vars.scss';

.icon-container,.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}
.main-container {
    border-bottom: 2px solid $green;
}
.icon-container {
    p {
        padding-right: 20px;
        font-size: 15px;
    }
    div{
        display: flex;
    }
}
.stat-value {
    margin-left: 5px;
}
i.icon:before {
    margin-right: 1px;
}